<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>My Places</h1>
  <%= link_to "New Place", "/places/new", { "class" => "btn btn-success" } %>
</div>

<div class="row">
  <% @places.each do |place| %>
    <div class="col-lg-4 col-md-6 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><%= place["name"] %></h5>
          <!-- If your Place model has a description column, show a snippet: -->
          <p class="card-text"><%= truncate(place["description"], { "length" => 80 }) %></p>
          <%= link_to "View Entries", "/places/#{place["id"]}", { "class" => "btn btn-primary" } %>
        </div>
      </div>
    </div>
  <% end %>
</div>